<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kaartik Arora.It uses data from mapbox and darksky.net</p>
        <img class='potrait' src='./didiNODEceritificate.jpg'>
    </div>
    {{>footer}}
</body>

</html>