<!DOCTYPE html>
<html>

<head>
        <link rel="icon" href="../supporter-images/PFP.jpg" />
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
       
    </div>
    <main class="main-container"> <p>404 error {{errorName}}</p></main>
    {{>footer}}
</body>

</html>