<!DOCTYPE html>
<html>

<head>
    <title>helpfile</title>
    {{!-- //not working check later --}}
    <link rel="icon" href="WEB DEVELOPEMENT\NEW ANDREW MEAD\web-server\public\tuffy.jpg" >
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        {{helpMessage}}
    </div>
    {{>footer}}
</body>

</html>